/* Fontes do goole */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root{
    /* === cores ==*/
  --boby-color:#E4e9f7;
  --sidebar-color:#fff;
  --primary-color::##66CDAA;
  --primary-color-light:#f6f5ff;
  --toggle-color:#ddd;
  --text-color:#707070;



    /*=====transiçâo====*/
    --tran-03:all 0.2 ease ;
    --tran-03:all 0.3 ease ;
    --tran-04:all 0.4 ease ;
    --tran-05:all 0.5 ease ;
    
    }

    body{
      height: 100vh;
      background:var(--boby-color);
    }
    /*==== Css reutilizaveis=====  */
    .sidebar .text{
      font-size: 16px;
      font-weight: 500;
      color: var(--text-color);
    }
    .siderbar .image{
      min-width: 60px;
      display: flex;
      align-items: center;

    }




    /*====posiçao da sidebar=== */
    .sidebar{
      position:fixed;
      top: 0;
      left: 0;
      height:100%;
      width: 250px;
      padding: 10px 14px;
      background: var(--sidebar-color);
    }
    .sidebar header{
      position: relative;
    } 


    .sidebar .image-text img{  
      width: 40px;
      border-radius: 6px;
      
      
      
    }

    .sidebar header .image-text{
    display: flex;
    align-items: center;   
    }

    header .image-txt .header-text{
      display: flex;
      flex-direction: column;
      
    }

    .header-text .name{
      font-weight: 600;

    }

    .header-text .proficao{
      margin-top: -2;
    }

    .sidebar header .bxbx-chevron-right toggle{
      position:absolute;
      top: 50%;
      left: -25px;
      transform: translateY(-50%);
      height: 25px;
      width: 25px;
      background: var(--primary-color);
    }
