*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login{
    width:100vw;
    height: 100vh;
    background: #201100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    font-size: 3vw;
    color:#ff8800;
}

.login-image{
    width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: black;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.card-login > h1{
    color: #ff8800;
    font-weight: 700;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    color: #ff8800;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #00a86b; /**/
    color:#ffa33b;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #ffc787;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.textfield > input::placeholder{
    color:#ffc787;
}

.btn-login{
    width: 100%;
    padding: 10px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 750;
    letter-spacing: 1px;
    color:white;
    background: #ff8800;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.cadastro{
    color: white;
    font-weight: bold;
}

/*Cor da fonte "Já é um membro?"*/
.cadastro p{
    font-weight: bold;
    color: white;
}
    /*Cor da fonte "Login"*/
.cadastro p a{
    color: #ffc787;
    text-decoration: none;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}


@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}