/* Fontes do goole */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root{
    /* === cores ==*/
  --boby-color:#E4e9f7;
  --sidebar-color:#fff;
  --primary-color::##66CDAA;
  --primary-color-light:#f6f5ff;
  --toggle-color:#ddd;
  --text-color:#707070;



    /*=====transiçâo====*/
    --tran-03:all 0.2 ease ;
    --tran-03:all 0.3 ease ;
    --tran-04:all 0.4 ease ;
    --tran-05:all 0.5 ease ;
    
    }
    /*====posiçao da sidebar=== */
    .sidebar{
      position:fixed;
      top: 0;
      left: 0;
      height:100%;
    }
    .sidebar .image-txt img{
      width: 40px;
      border-radius: 6px;
      width: 250px;
      background: var(--sidebar-color);
      
    }