*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body * {
    box-sizing: border-box;
}
    /*Fundo do site*/
.main-login{
    width:100vw;
    height: 100vh;
    background: #bfbcbc;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /*Tamanho e definições da box*/
.left-login{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
    /*Fonte SolaIT*/
.left-login > h1{
    font-size: 3vw;
    color:#5c5b5b;
}
    /*Gif da garota estudando*/
.login-image{
    width: 35vw;
}
    /*Largura da box*/
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 10px 20px #3f3f3f;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgb(57, 54, 54);
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

    /*Acesse sua conta*/
.card-login > h1{
    color: #ffffff;
    font-weight: 700;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    /*Largura das caixas de texto*/
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
    color: #ffffff;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #4a4a4a; 
    color:#ffffff;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #ffffff;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.textfield > input::placeholder{
    color:#9b9696;
}

.btn-login{
    width: 100%;
    padding: 10px 0px;
    margin: 25px;   
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 750;
    letter-spacing: 1px;
    color:rgb(0, 0, 0);
    background: #4a8e45;
    cursor: pointer;
    box-shadow: 0px 10px 20px #28892d82;
    font-family: Arial, Helvetica, sans-serif;
}

.cadastro{
    color: white;
    font-weight: bold;
}

/*Cor da fonte "Não é um membro?"*/
.cadastro p{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.609);
}
    /*Cor da fonte "Cadastre-se "*/
.cadastro p a{
    color: #fffffff9;
    text-decoration: none;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}


@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .login-image{
        width: 50vw;
    }
    .card-login{
        width: 90%;
    }
}